body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 300vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

.buttons-container button{
  align-items: left;
  background-color: white;
  color: black;
}

.search-container button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark {
  background-color: black;
  color: #fff;
}

.dark .container {
  background-color: black;
  color: #fff;
}

.dark .search-container input {
  background-color: black;
  color: #fff;
}

.dark .search-container button {
  background-color:black;
  color: #fff;
}


.dark .buttons-container button{
  align-items: left;
  background-color: black;
  color: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container a {
  margin: 0 10px; /* Adjust spacing between icons */
  color: darkblue; /* Adjust icon color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.icon-container a:hover {
  color: lightblue; /* Adjust hover color */
}



/* media queries */
@media screen and (max-width: 600px) {
  /* styles for screens smaller than 600px */
  body {
    font-size: 14px;
  }
  
  .container {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  /* styles for screens smaller than 400px */
  body {
    font-size: 12px;
  }
  
  .container {
    padding: 0 0.25rem;
  }
}